<connectionStrings>
  <clear/>
  <add name="uStoraConnection" providerName="System.Data.SqlClient" connectionString="Data Source = LAPTOP-3D14HVD5\SQLEXPRESS; Initial Catalog = uStoraDB; Integrated Security = False; User Id = sa;Password = sa ;Integrated Security=SSPI; MultipleActiveResultSets = True"/>
</connectionStrings>